@using EBillAppTest.Models
@model EBillAppTest.Models.HomeViewModel
<!-- ko with: home -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#customer" data-toggle="collapse" role="button" aria-expanded="false" class="font">
                    <i class="more-less glyphicon glyphicon-plus"></i>
                    Customer
                </a>
            </h4>
        </div>
        <div id="customer" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <label for="txtFName" class="font">First Name</label>
                        <input id="txtFName" class="form-control" type="text" data-bind="value: firstName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <label for="txtLName" class="font">Last Name</label>
                        <input id="txtLName" class="form-control" type="text" data-bind="value: lastName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <label for="txtMobNumber" class="font">Mobile Number</label>
                        <input id="txtMobNumber" class="form-control" type="tel" data-bind="value: mobileNumber" />
                        <button class="glyphicon-search" data-bind="click: getCustomer"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <label for="txtEmail" class="font">Email Address</label>
                        <input id="txtEmail" class="form-control" type="email" data-bind="value: email" />
                        <button class="glyphicon-search" data-bind="click: getCustomer"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#categories" data-toggle="collapse" role="button" aria-expanded="false" class="font">
                    <i class="more-less glyphicon glyphicon-plus"></i>Categories
                </a>
            </h4>
        </div>
        <div id="categories" class="panel-collapse collapse">
            <div class="panel-body">
                @foreach (var category in Model.Categories)
        {
            <h4 class="font">@category.Name</h4>
    foreach (var item in category.Items)
    {
        <div class="row" style="padding-left:10px;">
            <div class="col-md-10">
                <span class="font">@item.Name</span>
                <div style="padding-right:520px;float:right;" class="font">
                    <span>
                        <input name="@item.Name" type="radio" id="@string.Concat(item.Id,"_",(int)ItemType.Small)"><label for="@string.Concat(item.Id,"_",ItemType.Small)">Small</label>
                        &nbsp;&nbsp;<input name="@item.Name" type="radio" id="@string.Concat(item.Id,"_",(int)ItemType.Large)"><label for="@string.Concat(item.Id,"_",ItemType.Small)">Large</label>
                        <input type="number" placeholder="Quantity" style="width: 80px;" />
                    </span>
                </div>
            </div>
        </div>
}
}
            </div>
        </div>
    </div>
</div>
<div class="btn-block" style="margin-top:20px;">
    <button type="button" class="btn btn-success font" data-bind="click: save">Generate Order</button>
    <button type="button" class="btn btn-danger font" data-bind="click: cancel">Cancel Order</button>
</div>
<div class="modal"></div>
<!-- /ko -->